.ESGWrapper{
    padding: 15px;
    .upload{
        margin:5px
    }
    .getMonths{
        padding: 10px;
    }
    .getYears{
        padding:10px
    }
    .submitSheet{
        .selectSheet{
            padding:10px
        }
        .Submit{
            padding:10px
        }
    }

}
